.slide.ng-enter, .slide.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.slide.ng-enter.ng-enter-active,
.slide.ng-move.ng-move-active {
  opacity: 1;
}

.slide.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

li
    display block
a
    color green
    &:hover
        text-decoration none
.to-top
    position fixed
    right 5px
    bottom 30px
    text-align center
    display none
    opacity .4
    color red
    &:hover
        opacity 1
.content
    margin-top 3%
.date
    color blue
    opacity .7
    font-size 12px
    font-family sans-serif
    font-weight bolder
.pict
    
    &:hover
        transform: scale(1.2)
        box-shadow -1px 2px 26px 1px rgba(64,65,71,1)
.inline
    display inline
    
    
